@import url('https://fonts.googleapis.com/css2?family=Mrs+Sheppards&display=swap');

body {
    background: #FCECBD;
    padding-top: 1em;
}

h1, h2, h3 {
    text-decoration: none;
    color: #302116;
}

h1 {
    font: normal 400 3em "Mrs Sheppards";
    color: #511517;
    text-align: center;
}

h2 {
    font: normal 400 2em "Mrs Sheppards";
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 400px;
    height: 400px;
}

.cell {
    width: calc(100% / 10); /* Dynamically divide width */
    height: calc(100% / 10); /* Dynamically divide height */
    border: 1px solid #000;
    box-sizing: border-box;
}

.footer {
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.footer > p, a {
    font: normal 100 1em sans-serif;
}